.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.fact {
    color: blue;
}

.lol {
    color: red;
}

.checker {
    color: rgb(216, 200, 200);
    /* background-color: rgba(0, 0, 0, .1); */
}

.title {
    /* background-color: rgba(0, 0, 0, .15); */
    font-size: xx-large;
    border-radius: 5px;
    font-weight: 900;
    text-align: center;
    margin-top: 8%;
}



.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

/* .App-link{
    
} */