.donationBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.donationForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid tan;
    padding: 50px;
    border-radius: 1em;
    width: 70%;
    height: 75vh;
    box-shadow: 5px 5px 5px grey;
}

button{
    margin-top: 25px;
}

.cardInputContainer{
    margin-top: 25px;
    height: 50px;
    border: 1px solid aqua;
}

.cardInput{
    /* background-color: aqua; */
    height: 50px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
