.auth-forms{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 500px) {
    .auth-forms{
        flex-direction: column;
        height: 80vh;
        justify-content: space-evenly;
    }
}